{% extends 'base-front.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-title text-terracotta">Créer un compte</h1>
        {{ form_start(registrationForm) }}

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
