{% extends 'base-admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1 class="text-title text-terracotta"> Bienvenue sur votre page administrateur <i class="fa-brands fa-angellist text-pink"></i></h1>
{% endblock %}
