{% extends 'base-front.html.twig' %}

{% block title %}Confirmation changement mot de passe{% endblock %}

{% block body%}
    <div class="container text-title text-terracotta mt-4">
        <p>Votre mot de passe à bien été changé !</p>
    </div>
{% endblock %}