{% extends 'base-front.html.twig' %}

{% block title %}Email envoyé !{% endblock %}

{% block body%}
    <div class="container text-title text-terracotta mt-4">
        <p>Vous avez reçu un mail vous permettant de changer votre mot de passe !</p>
    </div>
{% endblock %}