{% extends 'base-front.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2 class="text-center text-terracotta text-title">Les produits les plus vendus</h2>
        <div class="container my-5">
            <div class="row align-items-center justify-content-between text-center">
                {% for products in mostSoldProducts %}
                    <div class="col-12 col-md-6 col-lg-3">
                        {% include "product/_card.html.twig" with {product: products[0]} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    <h2 class="text-center text-terracotta text-title">Les produits les mieux notés</h2>
        <div class="container my-5"=>
            <div class="row align-items-center justify-content-between text-center">
                {% for product in bestProducts %}
                    <div class="col-12 col-md-6 col-lg-3">
                        {% include "product/_card.html.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
