{% extends 'base.html.twig' %}

{% block content %}
    <header>
        {% block navBar %}
            {% include 'navbar/navbar.html.twig' %}
            <section class="global-section"></section>
        {% endblock %}
    </header>
    <main class="section-body">
        {% block body %}
        {% endblock %}
    </main>
    <footer>
    </footer>
{% endblock %}