{% extends 'base-front.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    {# si un user est bien défini #}
    {% if app.user %}
    <div class="container text-center mt-4">
        <h2 class="text-title text-terracotta">
            Votre commande a bien été payée et expédiée !</i>
        </h2>
        <a class="text-decoration-none btn btn-terracotta" href="{{ path('app_home') }}"><i class="fa-solid fa-arrow-left-long text-white"></i> Retour à l'accueil</a>
                <a class="btn btn-pink" href="{{path('app_profil_commands')}}">
            Mes commandes
        </a>
    </div>
    {# si aucun user n'est pas connecté #}
    {% else %}
    <div class="container text-center mt-4">
        <h2 class="text-title text-terracotta">Votre panier est vide <i class="fa-solid fa-heart-crack text-pink"></i></h2>
        <h4 class="mb-3 font-weight-normal">Pour récupérer votre commande en cours ...</h4>
        <a class="btn btn-pink" href="{{path('app_login')}}">
            Connectez-vous
        </a>
    </div>
    {% endif %}
{% endblock %}